{% block content %}
Hi {{ user.get_username }},

You're receiving this email because you requested a password reset for your user account at {{ site_name }}.

Please go to the following page and choose a new password:

<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset your password</a>

Your password reset link expires in 24 hours.

If you didn't request this, please ignore this email and your password will remain unchanged.

Thanks,
The {{ site_name }} Team
{% endblock %}
